<div class="navbar-container">
  <%= link_to lists_path, class: "nav-link" do %>
    <div class="nav-logo">
      <%# <div class="camera-logo"></div> %>
      <%= image_tag "video-logo.png", class: "camera-logo" %>
    </div>
  <% end %>
  <ul class="navbar-link-container">
    <li class="nav-link">
      <%= link_to "About", about_path, class: "link-text" %>
    </li>
  </ul>
</div>
