  <div class="banner-image"></div>

  <div class="cards container">
    <% @lists.each do |list| %>
      <div class="list-category" >
        <%= link_to list_path(list), class: "card-category-link" do %>
        <div class="title-div">
          <h3 class="title-list"><%= list.name%></h3>
        </div>
        <% end %>
      </div>
    <% end %>
  <div class="add-container">
    <h1 class="add-title">Add a movie to the list</h1>
    <div class="add-button"><%= link_to "Add new movie", new_list_path, class: "" %></div>
  </div>
</div>
