// Specific CSS for your home-page
body {
  background-color: white;
}

.container-index {
  width: 60%;
  margin: 0 auto;
}

.banner-image {
  background-image: url("default.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.image-show-lists {
  background-image: url("https://source.unsplash.com/user/c_v_r");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bookmark-card {
  width: 300px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bookmark-body {
  padding: 15px;
}

.container-title-btn {
  margin-top: 50px;
}

.card-title {
  font-size: 35px;
}

.card-category-link {
  text-decoration: none;
  color: white;
  :hover {
    color: rgb(165, 165, 165);
  }
}

.bookmark-body-icon {
  // display: ;
  flex-direction: column;
  // margin-left: 95%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.title-div {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.list-category {
  margin: 5px;
  background-image: url("movie-old.png");
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

.add-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  background-color: gray;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
  border-radius: 15px;
  justify-self: center;
}

.add-title {

}
