.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-right: 15px;
  margin-left: 15px;
  align-items: center;
  height: 66px;
}

.nav-link {
  align-content: center;
  align-self: center;
}

.link-text {
  color: gray;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}

.navbar-link-container {
  // margin-top: calc(50% - 10px);
  margin: 50% 0;
}

.camera-logo {
  width: 50px;
  height: 50px;
}
